name: Slack Demo Salt!
on: push
env:
  SLACK_WEBHOOK_URL: ${{secrets.SLACK_WEBHOOK_URL}}
jobs:
  Slack-Pipeline-Demo_Triggers:
    runs-on: ubuntu-latest
    steps:
      - name: Pipeline_complete
        id: pipelineComplete
        uses: act10ns/slack@v1
        with:
          status: ${{job.status}}
        if: always()
      - uses: act10ns/slack@v1
        name: This is a pipeline Step!
        id: steps
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: always()
      - uses: act10ns/slack@v1
        name: Pipeline Success Bitches
        id: step_steps
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: always()
  Notify-Pipelin-Success:
    runs-on: ubuntu-latest
    needs: Slack-Pipeline-Demo_Triggers
    steps:
      - name: Pipeline success_Bitches!
        uses: act10ns/slack@v1
        with:
          status: ${{job.status}}

